{% extends 'listor/mall.html' %}
{% load crispy_forms_tags %}
{% block innehall %}

    <div class="container py-5">
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>
        {% if status.status == 'Uppdatera' %}
            <legend>Uppdatera vara</legend>
        {% else %}
            <legend>Ny vara</legend>
        {% endif %}        </legend>
        {{ form|crispy }}
    </fieldset>
    <button class="btn btn-primary" type="submit">Spara vara</button>
    <a class="btn btn-primary" href="{% url 'lista-sida' status.list_id %}">Ångra</a>

</form>
</div>
{% endblock innehall %}