{% extends 'listor/mall.html' %}

{% block innehall %}

<div class="container py-5">
{% for lista in listan %}
    <h1>{{lista.list_name}}</h1>
    {% if lista.list_user == user  %}
    <a href="{% url 'lista-uppdatera' lista.id %}">Uppdatera</a><i class="bi bi-pencil-square"></i>
    <a href="{% url 'lista-radera' lista.id %}">radera</a><i class="bi bi-trash"></i>
    <a href="{% url 'lista-rensa' lista.id %}">rensa</a><i class="bi bi-cart-x"></i>
    {% endif lista.list_user == user  %}

{% endfor %}

<table>
    <tr>
        <th>vara</th>
        <th>antal</th>
        <th></th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr class="{% if item.purchased %}purchased{% else %}np{% endif %}">
        <td><form method="POST"></form>{% csrf_token %}
            <input type="hidden" name="item_id" value="{{item.pk}}">
            <button type="submit" class="btn btn-link">{{item.item_name}}</button>
        <td>{{item.amount}}</td>
        <td><a href="{% url 'vara-uppdatera' lista.id %}">rensa</a><i class="bi bi-pencil-square"></i></td>
        <td><a href="{% url 'vara-rensa' lista.id %}">rensa</a><i class="bi bi-cart-x"></i></td>
    </tr>
    {% endfor %}
</table>
{% for lista in listan %}
<a class ="btn btn-primary" href="{% url 'vara-ny' lista.id %}">Ny vara</a>
{% endfor %}

</div>
{% endblock innehall %}